doctype
html(lang='es')
    head
        meta(charset='utf-8')      
        meta(name='viewport' content='width=device-width, initial-scale=1')
        link(rel='stylesheet' href='landingPage/css/bootstrap.css')
        link(rel='stylesheet' href='toastify/toastify.css')
        link(rel='stylesheet' href='landingPage/fonts/icon-font/css/style.css')
        link(rel='stylesheet' href='landingPage/fonts/typography-font/typo.css')
        link(rel='stylesheet' href='landingPage/fonts/fontawesome-5/css/all.css')
        link(rel='stylesheet' href='https://fonts.googleapis.com/css2?family=Karla:wght@300;400;500;600;700;800&display=swap')
        link(rel='stylesheet' href='https://fonts.googleapis.com/css2?family=Gothic+A1:wght@400;500;700;900&display=swap')
        link(rel='stylesheet' href='https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800;900&display=swap')
        link(rel='stylesheet' href='https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700;800;900&display=swap')
        link(rel='stylesheet' href='https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700;800;900&display=swap')
        link(rel='stylesheet' href='https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700;800;900&display=swap')
        link(rel='stylesheet' href='landingPage/plugins/aos/aos.min.css')
        link(rel='stylesheet' href='landingPage/css/main.css')
        link(rel='icon' href='images/logo.jpg')
        title Representaciones Artísticas
    body
        .mb-5(data-aos="fade-right" data-aos-duration="1500" data-aos-once="true")
            .banner-image-l-13
                img.w-100(src='images/logo2.jpg')
        .mb-5(data-aos="fade-left" data-aos-duration="1500" data-aos-once="true")
            .container
                .row.justify-content-center
                    .col-xl-12
                        .row.justify-content-center
                            .col-xxl-7.col-xl-8.text-center
                                .content
                                    - let splitWelcome = generals.welcome.split('\n')
                                    h2.tagline ¿Quiénes somos?
                                    br
                                    h4
                                        each val in splitWelcome
                                            | #{val}
                                            br
        .mb-5
            .container
                .row.justify-content-center
                    .col-xl-11
                        .row.testimonial-area-l-13-items.justify-content-center(data-aos="fade-right" data-aos-duration="1500" data-aos-once="true")
                            .col-12.text-center
                                h2.tagline Nuestros artístas
                                br
                            each val in artists
                                .col-xl-3.col-md-4.col-sm-6.mb-3
                                    a.lightbox-toggle-multimedia(href=val.image data-gallery='gallery-artistas')
                                        img.card-img-top.cursor-pointer(src=val.image)
        .mb-5
            .container
                .row.justify-content-center
                    .col-xl-11
                        .row.testimonial-area-l-13-items.justify-content-center(data-aos="fade-right" data-aos-duration="1500" data-aos-once="true")
                            .col-12.text-center
                                h2.tagline Últimos eventos
                                br
                            each val in multimedia
                                .col-xl-3.col-md-4.col-sm-6.mb-3
                                    a.lightbox-toggle-multimedia(href=val.image data-gallery='gallery-eventos')
                                        img.card-img-top.cursor-pointer(src=val.image)
        .mb-5(data-aos="fade-left" data-aos-duration="1500" data-aos-once="true")
            .container
                .row.justify-content-center
                    .col-xl-12
                        .row.justify-content-center
                            .col-12.text-center
                                .content
                                    h2.tagline Ubicación
                                    br
                                    iframe(src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3734.1336692702002!2d-103.39831308507411!3d20.623407686219355!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xaad072f4377c92c2!2zMjDCsDM3JzI0LjMiTiAxMDPCsDIzJzQ2LjEiVw!5e0!3m2!1ses!2smx!4v1658949640453!5m2!1ses!2smx' width='100%' height='450' style='border:0;' allowfullscreen='' loading='lazy' referrerpolicy='no-referrer-when-downgrade')
        .mb-5(data-aos="fade-left" data-aos-duration="1500" data-aos-once="true" style='background-color: #f5f5f5;')
            .container
                .row.justify-content-center
                    .col-xl-12
                        .row.justify-content-center
                            .col-12.text-center
                                .content
                                    br
                                    h2.tagline Contáctanos
                                    br
                            .col-md-6
                                .mb-3
                                    label.form-label(for='nombreCotizacion') Nombre completo
                                    input.form-control.input-style#nombreCotizacion(type='text' autocomplete='off')
                                .mb-3
                                    label.form-label(for='correoCotizacion') Correo
                                    input.form-control.input-style#correoCotizacion(type='text' autocomplete='off')
                                .mb-3
                                    label.form-label(for='telefonoCotizacion') Teléfono
                                    input.form-control.input-style#telefonoCotizacion(type='text' autocomplete='off')
                            .col-md-6
                                .mb-3
                                    label.form-label(for='descripcionCotizacion') Descripción de tu evento
                                    textarea.form-control#descripcionCotizacion(autocomplete='off' rows='8' style='resize: none;')
                            .col-12.text-end
                                button.btn.btn-primary.text-white#btnEnviarContacto(onclick='enviarContacto()') Enviar
                                br
                                br
        footer.bg-footer.border-top
            .container.text-center
                .row
                    .col-md-6.mb-3
                        .row
                            .col-12
                                p.fw-bold.mt-3 Redes sociales
                            if generals.urlFacebook && generals.nameFacebook
                                .col-12.mb-2
                                    a(href=generals.urlFacebook target='_blank')
                                        img.me-2(src='images/facebook.png' width=30 height=30)
                                        span #{generals.nameFacebook}
                            if generals.urlInstagram && generals.nameInstagram
                                .col-12.mb-2
                                    a(href=generals.urlInstagram target='_blank')
                                        img.me-2(src='images/instagram.png' width=30 height=30)
                                        span #{generals.nameInstagram}
                            if generals.urlTwitter && generals.nameTwitter
                                .col-12.mb-2
                                    a(href=generals.urlTwitter target='_blank')
                                        img.me-2(src='images/twitter.png' width=30 height=30)
                                        span #{generals.nameTwitter}
                            if generals.urlYoutube && generals.nameYoutube
                                .col-12.mb-2
                                    a(href=generals.urlYoutube target='_blank')
                                        img.me-2(src='images/youtube.png' width=30 height=30)
                                        span #{generals.nameYoutube}
                            if generals.urlTiktok && generals.nameTiktok
                                .col-12.mb-2
                                    a(href=generals.urlTiktok target='_blank')
                                        img.me-2(src='images/tiktok.png' width=30 height=30)
                                        span #{generals.nameTiktok}
                    .col-md-6.mb-3
                        .row
                            .col-12
                                p.fw-bold.mt-3 Contacto
                            .col-12.mb-2
                                img.me-2(src='images/user.png' width=30 height=30)
                                span #{generals.nameContact}
                            .col-12.mb-2
                                img.me-2(src='images/whatsapp.png' width=30 height=30)
                                span #{generals.whatsappContact}
                            .col-12.mb-2
                                img.me-2(src='images/gmail.png' width=30 height=30)
                                span #{generals.emailContact}
                    .col-12.border-top
                        p.mt-3 Todos los derechos reservados #{new Date().getFullYear()}
        script(src='axios/axios.min.js')
        script(src='landingPage/js/vendor.min.js')
        script(src='landingPage/plugins/aos/aos.min.js')
        script(src='landingPage/js/custom.js')
        script(src='bootstrapLightbox/index.bundle.min.js')
        script(src='toastify/toastify.js')
        script(src='javascripts/funcionesGenerales.js')
        script(src='javascripts/principal.js')